/BBPS-6.0V/BBPS-6.0V.kicad_sch-bak
/BBPS-6.0V/BBPS-6.0V-backups
/BBPS-5V_and_3.3V/BBPS-5V_and_3.3V.kicad_sch-bak
/BBPS-5V_and_3.3V/BBPS-5V_and_3.3V-backups
/BBPS-5.0V/BBPS-5.0V.kicad_sch-bak
/BBPS-5.0V/BBPS-5.0V-backups
/BBPS-3.3V/BBPS-3.3V.kicad_sch-bak
/BBPS-3.3V/BBPS-3.3V-backups
